<section class="hero">
	<div class="container">
		<h2 class="title features__title visually-hidden">Особенности</h2>
		<ul class="list grid">
			<li class="grid__item features__item">
				<div class="features__thumb">

				</div>
				<h3 class="features__subtitle subtitle">Увага до деталей</h3>
				<p class="features__desc">
					Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
				</p>
			</li>
			<li class="grid__item features__item">
				<div class="features__thumb">

				</div>
				<h3 class="features__subtitle subtitle">Пунктуальність</h3>
				<p class="features__desc">
					Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
				</p>
			</li>
			<li class="grid__item features__item">
				<div class="features__thumb">

				</div>
				<h3 class="features__subtitle subtitle">Планування</h3>
				<p class="features__desc">
					Так само консультація з широким активом значною мірою зумовлює.
				</p>
			</li>
			<li class="grid__item features__item">
				<div class="features__thumb">

				</div>
				<h3 class="features__subtitle subtitle">Сучасні технології</h3>
				<p class="features__desc">
					Значимість цих проблем настільки очевидна, що реалізація планових завдань.
				</p>
			</li>
		</ul>
	</div>

	<div class="gallery">
		<!-- Картки зображень -->
	</div>
</section>