/* Card Styles */

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // width: 100%;
  // height: 100%;
  transition: box-shadow var(--animation);

  &:hover {
    box-shadow: var(--card-box-shadow);
    cursor: pointer;
  }
}

.card__img {
  border-radius: 5px;
}

// .card__thumb {
//   position: relative;
//   overflow: hidden;
// }

// .card__img-desc {
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: var(--main-light-color);
// }

.card__wrapper {
  // flex-grow: 1;
  // padding: 20px 24px;
  // border: 1px solid var(--project-border-color);
  // border-top: none;
}

.card__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.card__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--accent-font-color);
}

// .card__img-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;

//   display: flex;
//   align-items: center;
//   padding: 24px;

//   background: var(--project-background-overlay);

//   transform: translateY(100%);
//   transition: transform var(--animation);

//   .card:hover & {
//     transform: translateY(0);
//   }
// }
